<!doctype html>
<html lang="en">
<head>
  <title>BreakBot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
        background-color: #121212;
    }
    .error {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color :#E7F6F2;
    }
  </style>
</head>
<body>
  <div class="error">
    <img src="/images/bb-logo.png" alt="BreakBot logo">
    <p>Boop bee boop?</p>
  </div>
</body>
</html>